<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shreshthar Gujarat</title>
    <link rel="stylesheet" href="login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="login_main">
        <div class="logo_for_login">
            <img src="official_logo.png" alt="jj" srcset="">
        </div>
        {{#if expiredotp}}
            <div class="redError">YOUR OTP WAS EXPIRED</div>
            <div class="redError">TRY AGAIN...</div>
        {{/if}}
        <div class="login_form">
            <form action="/login" method="post">
                <label for="phone" class="enter_phone">Enter your phone number: </label>
                <br>
                <input type="text" name="phone" class="enter_phone_input" maxlength="10" pattern="[1-9]{1}[0-9]{9}" required>
                <br>
                <button type="submit" class="login_getotp_button">Get OTP</button>
            </form>
        </div>
    </div>
</body>
</html>