.main{
    display: flex;
}

*{
    font-family: 'Ubuntu', sans-serif;
}

.sideButton > button, .sideButton > form > button{
    margin-top: 5px;
    cursor: pointer;
    width: 227px;
    padding: 14px 2px;
    font-size: 16px;
    background-color: transparent;
    border: none;
    font-weight: 600;
    letter-spacing: 0.3px;
}

.sidebar{
    width: 140px;
    position: fixed;
}

.sidebar{
    background-color: aliceblue;
    width: 15%;
    height: 697px;
}

.default{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-35%,-50%);
    text-align: center;
}

.default > img{
    height: 308px;
}

.default > p{
    font-size: 24px;
    margin: 0px;
}

.admin_name{
    text-transform: uppercase;
}

.official_logo > img{
    height: 90px;
}


.complaintImage > img{
    height: 200px;
    width: 200px;
}

#responseSubmit{
    visibility: hidden;
}

.workArea{
    margin-left: 15.5%;
}

/* Upper Message showing after change*/
.message{
    text-align: center;
    background-color: aliceblue;
    padding: 6px 10px;
}

.messageText{
    font-size: 18px;
    margin: 0px;
}

.bar {
    height: 4px;
    width: 100%;
    margin-bottom: 10px;
}

.bar .in {
    animation: fill 5s linear 1;
    height: 100%;
    background-color: #54d24b;
}
  
@keyframes fill {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

/* Upper Message showing after change*/

.sendResponse{
    text-align: center;
    margin-top: 30px;
}

.responseButton, .submitResponseButton{
    margin-right: 25px;
    border: none;
    color: whitesmoke;
    font-size: 25px;
    background-color: #27ae2a;
    padding: 6px 20px;
    cursor: pointer;
}

.submitResponseButton{
    background-color: #ea6153 !important;
}

#add_pdf{
    font-size: 18px;
    margin-left: 10px;
}

.open_button{
    border: none;
    background-color: darkblue;
    padding: 3px 12px;
    font-size: 16px;
    font-weight: 700;
    color: whitesmoke;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 8%
}


.complaintInDetail > div{
    margin-bottom: 15px;
}

.complaint_detail_text{
    margin-bottom: 20px;
    text-align: center;
    font-size: 35px;
    font-family: 'Kanit', sans-serif;
    text-decoration: underline;
}

.idValue{
    font-size: 25px !important;
}

.key{
    width: 180px;
    display: inline-block;
    color: #555652;
}

.descriptionValue{
    width: 600px;
    display: block;
    margin-top: -24px;
    margin-left: 189px;
}

.complaintInDetail{
    margin: 20px 0px 0px 28px;
    font-size: 20px;
    text-transform: capitalize;
}

.full_complaint_detail{
    margin-left: 30px;
    display: flex;
}

.complaintImage > img{
    height: 275px;
    width: 100%;
    border: 5px black solid;
} 

#cID{
    width: 10px;
}

.chart{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.chart_heading{
    text-align: center;
    font-size: 26px;
    margin-top: 20px;
    margin-bottom: 5px;
}

#myChart{
    width: 750px;
    height: 300px;
}

.urAreaStats{
    display: none;
}

.table {
    margin: 0 0 40px 34px;
    width: 1200px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    display: table;
    }
    @media screen and (max-width: 580px) {
    .table {
        display: block;
    }
    }
    
    .row {
    display: table-row;
    background: #f6f6f6;
    }
    .row:nth-of-type(odd) {
    background: #e9e9e9;
    }
    .row.header {
    font-weight: 900;
    color: #ffffff;
    background: #ea6153;
    }
    .row.green {
        font-weight: 900;
        color: #ffffff;
        background: #27ae60;
    }
    .row.red {
        font-weight: 900;
        color: #ffffff;
        background: red;
    }
    .row.newBlue {
        font-weight: 900;
        color: #ffffff;
        background: #273eae;
    } 
    .row.black {
        font-weight: 900;
        color: #ffffff;
        background: black;
    }
    .row.niceblue{
        font-weight: 900;
        color: #ffffff;
        background: #0080ff;
    }
    @media screen and (max-width: 580px) {
    .row {
        padding: 14px 0 7px;
        display: block;
    }
    .row.header {
        padding: 0;
        height: 6px;
    }
    .row.header .cell {
        display: none;
    }
    .row .cell {
        margin-bottom: 10px;
    }
    .row .cell:before {
        margin-bottom: 3px;
        content: attr(data-title);
        min-width: 98px;
        font-size: 10px;
        line-height: 10px;
        font-weight: bold;
        text-transform: uppercase;
        color: #969696;
        display: block;
    }
    }
    
    .cell {
    vertical-align: middle;
    text-transform: capitalize;
    padding: 6px 12px;
    display: table-cell;
    }
    @media screen and (max-width: 580px) {
    .cell {
        padding: 2px 16px;
        display: block;
    }
    }